.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.vs
x64
_build

build-Oleksii-Desktop_Qt_6_5_1_MinGW_64_bit-Debug
build-Vitaliy-Desktop_Qt_6_5_1_MinGW_64_bit-Debug
build-VitaliyG-Desktop_Qt_6_5_1_MinGW_64_bit-Debug
build-TestBoost-Desktop_Qt_6_5_1_MinGW_64_bit-Debug
x64/Debug
build 
CMakeLists.txt.user
*.json
*.idx
